@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #233163;
}

body {
  background-color: #f1f1fb;
}
